[submodule "InST"]
	path = InST
	url = https://github.com/zyxElsa/InST.git
[submodule "ControlNet"]
	path = ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
